<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p> Hello, Welcome to Our World <span style="font-weight:bold;"> <%= @user.name.upcase %>! <span> </p>
    <p> Good to see you here! <p>
  </body>
</html>